#############################################################################
    #   PI Pico
#############################################################################
    
[mcu pico]
serial: /dev/serial/by-id/usb-Klipper_rp2040_50443405A02C8F1C-if00

#############################################################################
    #   NFC Reader Pi Pico über I2C und Bridge angebunden
#############################################################################
    
# === NFC2Klipper Bridge ===
[serial_bridge]
serial: /dev/nfc_reader
baud: 115200

# --- Shell Command: NFC Timer ---
[gcode_shell_command nfc_wait_for_gate]
command: /usr/local/bin/wait_for_gate {spool_id}
timeout: 30.0
verbose: True

# --- Makro: NFC-Tag gelesen ---
[gcode_macro SET_SPOOL_ID]
gcode:
  {% if 'ID=' in rawparams %}
    {% set spool_id = rawparams.split('ID=')[1] | string %}
    {action_respond_info("NFC: SpoolID %s erkannt – 20s Timer startet!" % spool_id)}
    RUN_SHELL_COMMAND CMD=nfc_wait_for_gate PARAMS=spool_id="{spool_id}"
  {% endif %}

#############################################################################
    
[gcode_macro PRINT_END]
gcode:
    Frame_Light_OFF
    Part_Light_OFF
    M400                    ; wait for buffer to clear
    TURN_OFF_HEATERS
    G92 E0                  ; zero the extruder
    #G91                     ; Relative positioning
    #G1 E-4 F2700            ; Retract a bit
    #G1 X5 Y5 Z4 F3000          ; Wipe out
    #G1 E-3 Z4 F3000       ; Retract and raise Z
    # G1 Z4 F3000  
     {% if printer.toolhead.position.z <165 %}
    G90 ; use absolute coordinates
    G1 Z170 F3000
    {% else %}
    G91                     ; Relative positioning
    G1 Z5 F3000
    {% endif %}           ; Raise Z more
    G90                     ; Absolute positioning
    G1 X280            ; Present print
    M107                    ; turn off fan
    M84                     ; turn off steppers
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    M117
    END_TUNE                ; Print End Beeper Jingle

[input_shaper]
shaper_type_x = 2hump_ei
shaper_freq_x = 73.2
shaper_type_y = mzv
shaper_freq_y = 37.0